
body{
    color: white;
    background-color: #001B3E;
}
#header{
    background-color: #253764;
    margin: 0;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
#header a{
    display: inline-block;
    text-align: center;
    background-color: #001B3E;
    color: white;
    width: 100px;
    height: 30px;
    position: relative;
    top: 5px;
}
h1{
    position: absolute;
    text-align: center;
    top: 50px;
}
