body{
    color: white;
    background-color: #001B3E;
    margin: 10%;
}

a{
    color: white;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-small{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1000px){
    body{
        margin: 5%
    }
    .center {
        width: 95%;
    }
}
